<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IGDB TEST WEB (made by.MH)</title>
    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<div class="accordion" id="accordionExample" style="width : 500px; margin-left : 20px;">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                점심 뭐먹지 패치노트
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p><strong>2023.03.19 V1.0 테스트 데이터 10개</strong></p>
                <p>1. mariadb연동</p>
                <p>2. 데이터 불러오는 과정 수정</p>
                <p>3. 데이터 수정 기능 추가(X, Y 입력시 자동으로 포인트 생성)</p>
            </div>
        </div>
    </div>
    <a href="/"><strong>뒤로 가기</strong></a>
</div>
<div style="margin:50px; width:2000px; display:flex;">
    <div id="map" style="width:1200px;height:1000px;"></div>
    <div>
        <table class="table" style="margin-left:20px; width:800px;">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">이름</th>
                <th scope="col">구분</th>
                <th scope="col">메뉴</th>
                <th scope="col">버튼</th>
            </tr>
            </thead>
            <tbody>
            {{#data}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{name}}</td>
                    <td>{{category}}</td>
                    <td>{{menu}}</td>
                    <td><input type="button" id="{{id}}" value="위치보기"></td>
                </tr>
            {{/data}}
            </tbody>
        </table>
    </div>
</div>
<div style="margin:50px; width:2200px;">
    <h2>전체 데이터</h2>
    <p><strong>X, Y좌표 입력시 자동으로 포인터 생성</strong></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">이름</th>
            <th scope="col">구분</th>
            <th scope="col">메뉴</th>
            <th scope="col">리뷰</th>
            <th scope="col">포장</th>
            <th scope="col">X</th>
            <th scope="col">Y</th>
            <th scope="col">카카오 검색</th>
            <th scope="col">네이버 검색</th>
            <th scope="col">데이터 수정</th>
        </tr>
        </thead>
        <tbody>
        {{#allData}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{name}}</td>
                <td>{{category}}</td>
                {{#menu}}
                    <td>{{menu}}</td>
                {{/menu}}
                {{^menu}}
                    <td></td>
                {{/menu}}
                {{#Review}}
                    <td>{{Review}}</td>
                {{/Review}}
                {{^Review}}
                    <td></td>
                {{/Review}}
                {{#Takeout}}
                    <td>{{Takeout}}</td>
                {{/Takeout}}
                {{^Takeout}}
                    <td></td>
                {{/Takeout}}
                {{#X}}
                    <td>{{X}}</td>
                {{/X}}
                {{^X}}
                    <td></td>
                {{/X}}
                {{#Y}}
                    <td>{{Y}}</td>
                {{/Y}}
                {{^Y}}
                    <td></td>
                {{/Y}}
                {{#KakaoUrl}}
                    <td>{{KakaoUrl}}</td>
                {{/KakaoUrl}}
                {{^KakaoUrl}}
                    <td></td>
                {{/KakaoUrl}}
                {{#NaverUrl}}
                    <td>{{NaverUrl}}</td>
                {{/NaverUrl}}
                {{^NaverUrl}}
                    <td></td>
                {{/NaverUrl}}
                <td><input type="button" value="데이터 수정" onclick="location.href='restaurant/editData/{{id}}'"></td>
            </tr>
        {{/allData}}
        </tbody>
    </table>
</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1f3c36353159681ee258a746648ee5f2&libraries=services"></script>
<script type="text/javascript">

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.4003521, 127.1107886), // 지도의 중심좌표
        level: 4 // 지도의 확대 레벨
    };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 인포윈도우에 들어갈 데이터 생성
    var positions = [];
    $.ajax({
        type:"GET",
        url: "api/restaurant",
        dataType:"json",
        async:false,
        success:function(res){
            for(var i=0; i<res.data.length; i++) {
                var position = {};
                position.content = res.data[i].content;
                position.latlng = new kakao.maps.LatLng(res.data[i].y, res.data[i].x);
                position.id = res.data[i].id;
                positions.push(position);
            }
        },
        error:function(e){
            alert(e);
        }
    });

    // 인포윈도우 생성
    var infowindows = [];
    for (var i = 0; i < positions.length; i ++) {
        var marker = new kakao.maps.Marker({
            map: map,
            position: positions[i].latlng
        });

        var infowindow = new kakao.maps.InfoWindow({
            content: positions[i].content,
        });

        var element = document.getElementById(positions[i].id);
        element.addEventListener("click", makeBtnEvent(map, marker, infowindow));
    }

    function makeBtnEvent(map, marker, infowindow) {
        return function() {
            if(infowindows.length > 0) {
                infowindows[0].close();
            }
            infowindows[0]= infowindow;
            infowindows[0].open(map, marker);
        };
    }

    function editData(id) {
        $.ajax({
            type:"POST",
            url: "api/restaurant/editData/"+id,
            dataType:"json",
            success:function(res){
                console.log(res)
            },
            error:function(e){
                alert(e);
            }
        });
    }


</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>